body{
    background: linear-gradient(to bottom ,black,white);
    width: 100%;
    height: 100%;
    font-family: "Poppins",sans-serif;
}

button{
    background-color: white;
    border: 1px solid black;
}

.vytvorit_misto{
    margin-top: 10px;
    height: 50px;
    width: 70px;
}
header{
    background-color: grey;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

header .text{
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

header .podtext{
    margin-left: 33px;
    color: white;
}

.jmeno{
    font-size: 20px;

}

.modal_jmeno_tlacitka{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tlacitka{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    gap: 10px;
    height: 30px;
}

.komentar_form{
    margin-top: 10px;
}

.komentar_form input{
    width: 150px;
    height: 30px;
}
.komentar_form button{
    width: 100px;
    height: 30px;
}

#create_form .disabled{
    display: block;
    flex-direction: row;

}
.create_form{
    display: flex;
    gap: 20px;
 }

.create_content{
    display: flex;
    justify-content: space-between;
}
.create_content button{
    height: 30px;
    margin-right: 10px;
    margin-top: 30px;
}


.edits_form{
    display: flex;
    gap: 20px;
}

.edit_content{
    display: flex;
    justify-content: space-between;
}
.edit_content button{
    height: 30px;
    margin-right: 10px;
    margin-top: 30px;
}

.edit_input_popis{
    height: 60px;
    width: 150px;

}



.modal_jmeno_tlacitka, .modal_foto_popis, .komentare, .komentar_form, .rating{
    margin-left: 10px;
}

.mesto{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right,gray 50%,lightgrey);
    border: solid black 1px;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.mesto img,.pamatka img {
    margin-top: 10px;
    width: 70%;

}

.mesta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;


}



.mesto div{
    align-self: center ;
    margin-top: 10px;
}


.mesta_pamatky{
    display: grid;
    background: radial-gradient(black ,white);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 25px;
    width: 99%;
    height: 100%;
    border: solid black 2px;
    border-collapse: separate;
    gap: 10px;
    padding-bottom: 2%;
}

.pamatka{
    margin-top: 2%;
    margin-left: 10px;
    border: solid black 1px;
    width: 80%;
    height: 100%;
    text-align: center;
    background: linear-gradient(to bottom right,gray 50%,lightgrey);

}

.vokno{
    z-index: -1;

}

.modalni{
    z-index: 1;
    position: fixed;
    background-color: white;

    width: 50%;
    height: 900px;
    right: 0;
    top: 110px;
}

.disabled{
    display: none;
}

.komentar{
    border: solid black 1px;
}

.star_color{
    color: yellow;
}

.deleteButton{
    background-color: red;
    color: white;
    border-color: black;
}